
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}
#title{
    margin: 5px 0px;
    text-align: center;
    font-size: 32px;
}
main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: lightblue;
    height: 100vh;

}
#grand-leaves{
    width: 270px;
    height: 40px;
    margin: 10px 0px;
    font-size: 20px;
}
table td{
    font-size: 18px;
    margin: 0px 10px;
    font-weight: bold;
    letter-spacing: 1px;
    
}
input{
    min-width: 200px;
    height: 30px;
    padding: 0px 10px;
}
span{
    color: red;
    /* background-color: yellow; */
    width: 150px;
    display: inline-block;
}